<!DOCTYPE html>
<html>
<head>
  <title>Times</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= params[:controller].dasherize %>'>

<div id="container">

  <div id="header">
  </div>

  <div id="main">
    <div class='messages'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div id="content">
      <%= yield %>
    </div>

  </div>

  <div id="footer">
  </div>
</div>

</body>
</html>
