<!DOCTYPE html>
<html>
<head>
  <title>Times</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= params[:controller].dasherize %>'>

<div id="container">

  <div id="header">
    <div id='logo'>
      <div class='good'>Good</div>
      <div class='times'>Times</div>
    </div>
    <div class='title'>
      <h1><%= yield :title %></h1>
    </div>
  </div>

  <div id="main">
    <div class='messages'>
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert"><%= alert %></div>
      <% end %>
    </div>

    <div id="content">
      <%= yield %>
    </div>

  </div>

  <div id="footer">
  </div>
</div>

</body>
</html>
